@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Lora:ital,wght@1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;
}

.font-lora {
  font-family: var(--font-lora);
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
}
